

params {
   in_pat = "/path/to/input/data/*{bam,bai}"
   aldy_alleles_dir = "/path/to/output/directory"
}



profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}
